<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/hlova/PortalTest"><classes><class name="tests.ChangeLanguageTest"><methods><include name="checkChangeLanguage"/></methods></class><class name="tests.ForgotPasswordTest"><methods><include name="checkForgotPasswordLink"/></methods></class><class name="tests.NewAccountTest"><methods><include name="checkTextInRegisterForm"/></methods></class><class name="tests.RegistrationTest"><methods><include name="RegistrationTest"/></methods></class><class name="tests.SignInWithEmptyFieldsTest"><methods><include name="checkSignInWithEmptyFields"/></methods></class></classes></test></suite>